/* Temel sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0066cc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3.5em;
    letter-spacing: 1px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    margin-top: 40px;
    padding: 20px;
}

.section {
    padding: 60px 0;
    border-bottom: 1px solid #ddd;
}

.section-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    color: #0066cc;
    margin-bottom: 30px;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.features-container,
.process-steps,
.technologies-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.feature-item,
.process-step,
.technology-item {
    width: 22%;
    text-align: center;
    margin-bottom: 30px;
}

.feature-item img,
.process-step img,
.technology-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

footer {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Mobil uyumlu tasarım */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    .section-content {
        width: 90%;
    }

    nav ul li {
        display: block;
        margin-bottom: 15px;
    }

    .features-container,
    .process-steps,
    .technologies-list {
        flex-direction: column;
        align-items: center;
    }

    .feature-item,
    .process-step,
    .technology-item {
        width: 80%;
    }
}
