/* Temel ayar ve sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    margin-top: 30px;
    padding: 20px;
}

.section {
    padding: 60px 0;
    border-bottom: 1px solid #ddd;
}

.section-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333333;
}

.features-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.feature-item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.feature-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.process-steps {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.process-step {
    width: 23%;
    text-align: center;
}

.process-step img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.technologies-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.technology-item {
    width: 23%;
    text-align: center;
}

.technology-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-info {
    list-style-type: none;
    padding-left: 0;
}

.contact-info li {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.contact-info li a {
    color: #3b5998;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3b5998;
    color: white;
    font-size: 1.1em;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Mobil uyumlu tasarım */
@media (max-width: 768px) {
    .section-content {
        width: 90%;
    }

    header h1 {
        font-size: 2.5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2em;
    }

    .features-container, .process-steps, .technologies-list {
        flex-direction: column;
        align-items: center;
    }

    .feature-item, .process-step, .technology-item {
        width: 80%;
        margin-bottom: 30px;
    }
}
